@import "../../css-config/mixins.scss";
// This is Called nested css and it boost the speed of writing css
.main-header{
    width: 100%;
    height: 50px;
    // padding: 0 auto;
    background-color: #4364c6;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index: 99;
    
    .header-content{
        padding: 0 10px;
        // border: 3px solid red;
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        height: 50px; 
        @include md{
        max-width: 1200px;
        margin: 0 auto;  
        height: 50px;
        }
        .logo{
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            @include md{
                font-size: 32px;
            }
        }
        .signIn_Up{
            display: flex;
            align-items: center;
            gap: 20px;
            @include md{
                gap: 25px;
            }
            li{
                list-style: none;
                font-size: 15px;
            @include md{
                font-size: 18px;
            }
        }
            }
    }
    &.sticky-header{
        position: sticky;
        top: 0;
        animation: stickyHeader 0.3s ease forwards;
         transform: translateY(-80px);
        
    }
}



